<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Admin login</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body style="background-color: #009981">
	<div class="container text-center">
		<div class="header">
			<h1 style="margin-top: 40px;">ADMIN LOGIN</h1>
		</div>
		<div style="margin-left: 60px">
			<img src="img/logo.png">
		</div>
		<div id="text-center">
			<p class="text-warning">You've been logged out</p>
		</div>
		<form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto; border: none">
			<div>
				<p>
					<input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
				</p>
				<p>
					<input type="password" name="password" class="form-control" placeholder="Password" required autofocus>
				</p>
				<div style="display: flex; justify-content: space-between;">
					<p>
						<button class="btn" 
						 	style="background-color: black"><a th:href="@{/register}" style="text-decoration: none; color: white;">Sign Up</a></button>
					</p>
					<p>
						<input type="submit" value="Login" class="btn"
							style="background-color: black; color: white;">
					</p>
				</div>
			</div>
		</form>
		<div th:if="${param.error}">
			<p class="text-danger">Invalid Username or Password</p>
		</div>
	</div>
</body>